---
import Layout from "../layouts/Layout.astro";
---

<main class="container">
  <Layout
    title="Commercial Cleaning Services"
    description="Your Partner in Creating a Clean, Productive Workplace"
  >
    <section class="p-5">
      <h3
        class="text-balance text-left text-4xl font-semibold tracking-tight my-10 text-gray-950 sm:text-5xl"
      >
        Commercial Cleaning Services
      </h3>
      <div
        class="bg-background-commercial bg-cover bg-center w-full h-[460px] rounded-lg drop-shadow-md"
      >
      </div>
      <div class="flex items-center justify-center -mt-12 text-center">
        <p
          class="bg-white/80 backdrop:blur p-10 m-6 flex items-start justify-centerm rounded-lg font-bold tracking-wide max-w-fit"
        >
          In today’s business world, a clean and well-maintained workplace
          speaks volumes about your brand and commitment to excellence. At Doma,
          we provide top-notch commercial cleaning services tailored to meet the
          demands of various industries. From offices to restaurants and retail
          spaces, we ensure your business environment remains clean, safe, and
          welcoming.
        </p>
      </div>
      <iframe
        title="Arrow Down Animation"
        class="w-full h-16"
        src="https://lottie.host/embed/322af980-cd5b-481d-8f98-9c3b83b5f6cf/hw4qtCQj33.json"
        loading="eager"></iframe>
      <div class="container my-6">
        <h2
          class="text-balance text-left text-4xl font-semibold tracking-tight my-10 text-gray-950 sm:text-5xl"
        >
          Our Services Include
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
          <div
            class="bg-white p-4 rounded-lg text-left drop-shadow-md hover:bg-primary-50"
            id=""
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Office Cleaning
            </h3>
            <p class="text-base text-center">
              From desktops to boardrooms, we maintain your workspace so
              employees and visitors enjoy a clean, organized environment.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Restaurant Cleaning
            </h3>
            <p class="text-base text-center">
              Comprehensive cleaning to maintain health standards and create a
              pleasant dining experience, from kitchens to dining areas.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Retail Store Cleaning
            </h3>
            <p class="text-base text-center">
              Keep your store looking its best with regular cleaning that
              reflects the quality of your brand and products.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Post-Construction Cleaning
            </h3>
            <p class="text-base text-center">
              Clear away dust and debris after renovations or construction
              projects, leaving your space move-in ready.
            </p>
          </div>
        </div>
      </div>
      <div>
        <h2
          class="text-balance text-right text-4xl font-semibold tracking-tight my-10 text-gray-950 sm:text-5xl"
        >
          Why Partner with Us?
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Reliable & Flexible Scheduling
            </h3>
            <p class="text-base text-center">
              We offer after-hours and weekend options to minimize disruptions
              to your operations.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Specialized Services
            </h3>
            <p class="text-base text-center">
              From floor care to sanitizing high-traffic areas, our services can
              be customized to meet industry standards and regulations.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Experienced Professionals
            </h3>
            <p class="text-base text-center">
              Our trained and vetted staff understand the unique needs of
              commercial spaces and deliver results that meet your expectations.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Eco-Friendly Solutions
            </h3>
            <p class="text-base text-center">
              Committed to sustainability, we use eco-friendly products and
              methods that are safe for your employees and customers.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center mx-auto bg-white p-4 rounded-lg drop-shadow-md my-10 max-w-md"
        >
          Book Your Free Consultation Let’s discuss your cleaning needs and
          design a customized solution to keep your business at its best.
          <br /><br />
          <span class="font-semibold">Contact us today to get started!</span>
          <div class="mt-10 mb-5">
            <a
              href="/contact"
              class="bg-primary-700 py-2 px-4 text-white text-xl font-bold rounded-lg hover:bg-primary-500"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</main>
