---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../sections/ContactForm.astro";
---

<main class="container">
  <Layout title="Contact" description="Contact page">
    <ContactForm />
  </Layout>
</main>
