---
import Layout from "@/layouts/Layout.astro";
import About from "@/sections/About.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import Testimonial from "@/sections/Testimonial.astro";
---

<Layout
  title="Doma Cleaning Services"
  description="Cleaning services for your home and business"
>
  <main>
    <Hero />
    <About />
    <Services />
    <Testimonial />
  </main>
</Layout>
