---
import Layout from "../layouts/Layout.astro";
import About from "../sections/About.astro";
import Hero from "../sections/Hero.astro";
import InfoCard from "../sections/InfoCard.astro";
import PreFooter from "../sections/PreFooter.astro";
import Services from "../sections/Services.astro";
---

<Layout
  title="Doma Cleaning Services"
  description="Cleaning services for your home and business"
>
  <main class="container p-4">
    <Hero />
    <InfoCard />
    <About />
    <Services />
    <PreFooter />
  </main>
</Layout>

<style></style>
