---
import Layout from "../layouts/Layout.astro";
---

<main class="container">
  <Layout
    title="Residential Cleaning Services"
    description="Transforming Your Home into a Clean and Inviting Space"
  >
    <section class="p-5">
      <h3
        class="text-balance text-left text-4xl font-semibold tracking-tight my-10 text-gray-950 sm:text-5xl"
      >
        Residential Cleaning Services
      </h3>
      <div
        class="bg-background-residential bg-cover bg-no-repeat bg-top w-full h-[460px] rounded-lg drop-shadow-md"
      >
      </div>
      <div class="flex items-center justify-center -mt-12 text-center">
        <p
          class="bg-white/80 backdrop:blur p-10 m-6 flex items-start justify-centerm rounded-lg font-bold tracking-wide max-w-fit"
        >
          At Doma, we understand that a clean home is essential to a happy and
          healthy life. Our residential cleaning services are designed to keep
          your living spaces pristine, fresh, and inviting, providing you with
          peace of mind and more time to focus on what matters most. Whether you
          need a one-time deep clean, regular maintenance, or specialized
          services, we’re here to help.
        </p>
      </div>
      <iframe
        title="Arrow Down Animation"
        class="w-full h-16"
        src="https://lottie.host/embed/322af980-cd5b-481d-8f98-9c3b83b5f6cf/hw4qtCQj33.json"
        loading="eager"></iframe>
      <div class="container my-6">
        <h2
          class="text-balance text-left text-4xl font-semibold tracking-tight my-10 text-gray-950 sm:text-5xl"
        >
          Our Services Include
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
          <div
            class="bg-white p-4 rounded-lg text-left drop-shadow-md hover:bg-primary-50"
            id=""
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Deep Cleaning
            </h3>
            <p class="text-base text-center">
              We go beyond the basics to tackle hidden dust, grime, and stains,
              refreshing every corner of your home.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Routine Maintenance
            </h3>
            <p class="text-base text-center">
              Weekly, bi-weekly, or monthly cleaning tailored to fit your
              schedule and ensure your home always feels clean.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Move-In & Move-Out Cleaning
            </h3>
            <p class="text-base text-center">
              Simplify your transition with comprehensive cleaning services to
              leave your old place spotless and prepare your new home for a
              fresh start.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Specialty Cleaning
            </h3>
            <p class="text-base text-center">
              Customizable options, including carpet cleaning, window washing,
              and more.
            </p>
          </div>
        </div>
      </div>
      <div>
        <h2
          class="text-balance text-right text-4xl font-semibold tracking-tight my-10 text-gray-950 sm:text-5xl"
        >
          Why Partner with Us?
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-3">
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Professional & Trusted Staff
            </h3>
            <p class="text-base text-center">
              Our team is trained, experienced, and background-checked to ensure
              the best service and your peace of mind.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Eco-Friendly Products
            </h3>
            <p class="text-base text-center">
              We prioritize the health of your family and pets by using safe,
              environmentally friendly cleaning products.
            </p>
          </div>
          <div
            class="bg-white p-4 rounded-lg drop-shadow-md hover:bg-primary-50"
          >
            <h3 class="text-xl font-bold text-center my-5 text-primary-600">
              Attention to Detail
            </h3>
            <p class="text-base text-center">
              Every home is unique, and we take time to understand your needs,
              providing tailored cleaning that meets your standards.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center mx-auto bg-white p-4 rounded-lg drop-shadow-md my-10 max-w-md"
        >
          Ready to enjoy a sparkling clean home? Reach out for a free
          consultation, and let us take care of your cleaning needs.
          <br /><br />
          <span class="font-semibold">Contact us today to get started!</span>
          <div class="mt-10 mb-5">
            <a
              href="/contact"
              class="bg-primary-700 py-2 px-4 text-white text-xl font-bold rounded-lg hover:bg-primary-500"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</main>
