---
import { ArrowUpIcon, CircleArrowUp } from "@lucide/astro";
---

<button
  aria-label="Scroll to top"
  class="hidden fixed bg-gradient-primary p-2 rounded-full bottom-10 right-5 z-50 outline-none hover-bg-gradient-primary transition-all duration-300 ease-in-out cursor-pointer text-white"
  id="button"
>
  <CircleArrowUp size={24} stroke-width={2.5} />
</button>

<script>
  const scrollToTopButton = document.getElementById("button");

  const scrollFunc = () => {
    if (window.scrollY > window.innerHeight - 300) {
      scrollToTopButton.classList.remove("hidden");
    } else {
      scrollToTopButton.classList.add("hidden");
    }
  };

  window.addEventListener("scroll", scrollFunc);

  const scrollToTop = () => {
    if (window.scrollY > window.innerHeight - 300) {
      window.scrollTo({ top: 0, behavior: "smooth" });
    }
  };

  scrollToTopButton.onclick = function (e) {
    e.preventDefault();
    scrollToTop();
  };
</script>
