---
import Badge from "@/components/ui/starwind/badge";
import {
  Card,
  CardDescription,
  CardTitle,
} from "@/components/ui/starwind/card";
import { optionsList } from "@/data/choose";
import type { Options } from "@/data/choose";
---

<main class="container text-center pb-10" id="about">
  <section class="py-10 md:py-32 relative h-full">
    <div class="relative">
      <div class="text-left max-w-3xl mx-auto mb-16 space-y-4">
        <Badge
          class="px-3 py-1 text-sm bg-blue-100 hover:bg-blue-200 text-blue-800 rounded-full"
        >
          Why choose us?
        </Badge>
        <h2 class="text-3xl md:text-4xl font-bold tracking-tight">
          The <span class="text-gradient-primary">Doma Clean</span> difference
        </h2>
        <p class="text-lg text-slate-600">
          Find out why we're the preferred choice for cleaning services in the
          United States.
        </p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 p-5">
        {
          optionsList.map(({ title, description, icon: Icon }: Options) => (
            <Card class="bg-white rounded-2xl p-6  text-left shadow-xl">
              <div class="w-12 h-12 rounded-2xl bg-gradient-primary flex items-center justify-center text-white hover:scale-110 hover:animate-jiggle transition-transform my-2">
                <Icon size={30} />
              </div>

              <CardTitle class="text-xl font-bold mb-2">{title}</CardTitle>

              <CardDescription class="text-slate-600">
                {description}
              </CardDescription>
            </Card>
          ))
        }
      </div>
    </div>
  </section>
</main>
