---
import TiquetButton from "../components/TiquetButton.astro";
---

<header class="container text-center bg-opacity-100">
  <main
    class="bg-background-image bg-cover bg-center bg-opacity-20 rounded-lg pt-7 pb-28 drop-shadow-lg"
  >
    <div class="flex flex-col items-start justify-between p-4 gap-11">
      <TiquetButton title="We are Doma!" />
      <div class="flex flex-col items-start justify-center gap-10">
        <h1 class="text-5xl font-bold">
          <span class="text-black">Feel Your Way For Freshness</span>
        </h1>
        <p class="text-xl text-left max-w-xl text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatibus, doloremque, voluptas, quia, aspernatur, fugiat
          consequuntur, voluptate, dolores, quisquam, quos, asperiores
          molestias.
        </p>
      </div>
      <div class="grid sm:grid-cols-2 items-center justify-center gap-5">
        <div class="bg-white rounded-xl px-8 py-3 drop-shadow-lg lg:py-6">
          <h5 class="text-2xl text-primary-700 font-bold">100+</h5>
          <p class="text-base text-gray-600">Happy Clients</p>
        </div>
        <div class="bg-white rounded-xl px-8 py-3 drop-shadow-lg lg:py-6">
          <h5 class="text-2xl text-primary-700 font-bold">10+</h5>
          <p class="text-base text-gray-600">Awards Received</p>
        </div>
      </div>
    </div>
  </main>
</header>
