<div class="container animate-fade">
  <section
    class="grid grid-cols-3 items-start justify-between text-center gap-2 -my-20 mx-5"
  >
    <div
      class="flex flex-col gap-2 bg-white/85 backdrop:blur-lg p-3 rounded-xl drop-shadow-lg"
    >
      <img src="/icons/group.svg" alt="Group" class="w-10 h-10 mx-auto" />
      <h5 class="font-semibold text-base lg:text-lg">Expert Team</h5>
      <p class="hidden text-sm text-gray-500 sm:block xl:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatibus.
      </p>
    </div>
    <div
      class="flex flex-col gap-2 bg-white/85 backdrop:blur-lg p-3 rounded-xl drop-shadow-lg"
    >
      <img src="/icons/spray.svg" alt="Group" class="w-10 h-10 mx-auto" />
      <h5 class="font-semibold text-base lg:text-lg">Quality Service</h5>
      <p class="hidden text-sm text-gray-500 sm:block xl:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatibus.
      </p>
    </div>
    <div
      class="flex flex-col gap-2 bg-white/85 backdrop:blur-xl p-3 text-center rounded-xl drop-shadow-lg"
    >
      <img src="/icons/price.svg" alt="Group" class="w-10 h-10 mx-auto" />
      <h5 class="font-semibold text-base lg:text-lg">Affordable Pricing</h5>
      <p class="hidden text-sm text-gray-500 sm:block xl:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatibus.
      </p>
    </div>
  </section>
</div>
