<main class="container py-10 text-center">
  <section>
    <div
      class="grid lg:grid-cols-2 gap-10 items-center justify-center py-10 px-20 sm:py-14 rounded-xl bg-primary-800"
    >
      <div class="text-center lg:text-left">
        <h5 class="text-xl text-white font-bold">Call For a Free Quote</h5>
        <p class="text-white/50 text-center lg:text-left text-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quidem
        </p>
      </div>
      <div class="flex items-center justify-center gap-3">
        <div class="bg-white rounded-full p-3 text-center lg:text-left">
          <a href="tel:+18005551234">
            <img src="/icons/phone.svg" alt="phone" loading="lazy" />
          </a>
        </div>
        <div class="text-left text-white">
          <p class="font-bold">Call Us</p>
          <span>+1 (800) 555-1234</span>
        </div>
      </div>
    </div>
  </section>
</main>
