---
import Footer from "../sections/Footer.astro";
import ToTopBottom from "../components/ToTopBottom.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import "@/styles/starwind.css";
import Navbar from "@/sections/Navbar.astro";
import CTA from "@/sections/CTA.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="/apple-touch-icon-precomposed.png"
    />
    <title>{title}</title>
  </head>
  <body>
    <SpeedInsights />
    <Navbar />
    <slot />
    <CTA />
    <Footer />
    <ToTopBottom />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  html {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
