---
import { Header } from "../components/Header/Header.tsx";
import Footer from "../sections/Footer.astro";
import ToTopBottom from "../components/ToTopBottom.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.ico" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-200">
    <SpeedInsights />
    <Header client:load />
    <slot />
    <Footer />
    <ToTopBottom />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  html {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
